<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传头像</title>
    {% include 'common/public_css_js.html' %}
<style>
  html,body{ background:none !important;}
</style>
</head>
<body>
  <div class="upfiles">
    <div class="hd"><span class="close">&#xe611;</span>上传头像</div>
    <div class="filesbody clearfix">
      <div class="user-photo img fl"><img id="ImgPr"></div>
        <div class="upfilebox f14 mt20">
          <label class="btn-upfiles"><input type="file" name="photo" id="up" />选择照片</label>
          <p class="mt10">支持jpg,gif,png格式，建议尺寸大于100*100。</p>
        </div>
    </div>
    <div class="controlbox tc"><button type="button" value="" name="" class="button btn-save">保存</button><button type="button" value="" name="" class="button btn-reset">取消</button></div>
  </div>

<script type="text/javascript">
$(document).ready(function($){
	$("#up").uploadPreview({
		Img: "ImgPr",
	});
});
</script>
</body>
</html>