<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>饭局首页</title>
    {% include 'common/public_css_js.html' %}
    <style>
        .m-box > a, .m-box > span {
            padding: 0 10px;
            border: 1px solid;
            margin: 5px;
            text-decoration: none;
            color: #bdbdbd;
        }

        .m-box > a:hover, .m-box > span:hover {
            background-color: #4d99bf;
        }
    </style>
</head>
<body>
<div class="head">
    <div class="wrap clearfix">
        <a href="" class="logo indent">logo</a>
        <div class="headr fr">
            <a href="/dinner/release/"><em><img src="/static/images/sb.png"></em> &nbsp;&nbsp;发布我的饭局</a>
            <div class="user">
    <span class="clearfix"><span class="userimg"><img {{ request.user.head_image }}><i></i></span>
        <a href="javascript:;" class="fr">{{ request.user.username }}  <em>&#xe607;</em></a></span>
                <ul class="topslide">
                    <li><em>&#xe627;</em><a href="/person/get_men/">个人设置</a></li>
                    <li><em>&#xe63d;</em><a href="/person/message/">消息中心<s>3</s></a></li>
                    <li><em>&#xe63c;</em><a href="/dinner/join_dinner/">饭局管理</a></li>
                    <li><em>&#xe63e;</em><a href="/person/fans/">我的好友</a></li>
                    <li><em>&#xe611;</em><a href="/polls/logout/">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="activewrap wrap clearfix">
    <div class="section fl">
        <form class="Condition clearfix" id="search_form" enctype="multipart/form-data" method="post">
            <div>
                类别:&nbsp;<a href="#">&nbsp;中餐&nbsp;</a><a href="#" class="current">&nbsp;西餐&nbsp;</a><a href="#">&nbsp;意餐</a>
            </div>
            <div>
                活动方式:&nbsp;<a href="#">&nbsp;先到先得&nbsp;</a><a href="#" class="current">&nbsp;双向选择&nbsp;</a><a href="#">&nbsp;大数据匹配&nbsp;</a>
            </div>
            <div>
                <label>价格:</label>
                <input type="number" name="price__gte">
                <label>--</label>
                <input type="number" name="price__lte">
            </div>
            <div>
                <label>就餐人数:</label>
                <input type="number" name="number__gte">
                <label>--</label>
                <input type="number" name="number__lte">
            </div>
            <div>
                <input type="button" id="btn_search" value="搜索">
            </div>
        </form>

        <ul class="active-list" id="dinner_list">

        </ul>
        <div class="m-box" style="text-align: center"></div>
    </div>
    <div class="aside fr">
        <h1 class="header">热门活动</h1>
        <div class="hot-active">
            <a href="#" class="img"><img src="/static/upload/img19.jpg"></a>
            <div class="active-info">
                <div class="user">
                    <a href="#" class="userimg"><img {{ request.user.head_image }}></a>
                    <a href="#">{{ request.user.username }}</a>
                </div>
                <div class="hd"><a href="#">标题用最柔美的花朵说着最执着的语</a></div>
                <span class="o">88元/每人(6位) </span> 2015年1月1日
            </div>
        </div>
        <ul class="active-news">
            <li><span class="time">[11-10]</span><a href="#">海纳创作料理价值350元高级...</a></li>
            <li><span class="time">[11-10]</span><a href="#">海纳创作料理价值350元高级...</a></li>
            <li><span class="time">[11-10]</span><a href="#">海纳创作料理价值350元高级...</a></li>
            <li><span class="time">[11-10]</span><a href="#">海纳创作料理价值350元高级...</a></li>
            <li><span class="time">[11-10]</span><a href="#">海纳创作料理价值350元高级...</a></li>
            <li><span class="time">[11-10]</span><a href="#">海纳创作料理价值350元高级...</a></li>
        </ul>
    </div>
</div>

<div class="footmenu">
    <div class="wrap clearfix">
        <div class="item bd0">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="fr">
            <img src="/static/images/img2.jpg">
            <img src="/static/images/img3.jpg">
        </div>
    </div>
    <div class="gotop">&#xe608;</div>
</div>
<div class="foot tc">Copyright © 2003-2015 17素材, All Rights Reserved</div>
<script src="/static/js/jquery.pagination.js"></script>
<script type="text/javascript">
    $(document).ready(function ($) {
        //select 样式美化
        var config = {
            '.chosen-select-no-single': {disable_search_threshold: 10}
        };
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    });
    $(function () {
        getDinner(1, true);
        count = 0;

        function getDinner(page, init) {
            $.ajax({
                url: '/dinner/dis_dinner/',
                data: {'page': page, 'total': 2},
                type: 'get',
                dataType: 'json',
                success: function (response) {
                    $('#dinner_list').html('');
                    console.info(response.result.data)
                    $.each(response.result.data, function (index, item) {
                        count = response.result.count;
                        var data = item;
                        $('#dinner_list').append(
                            '<li>\n' +
                            '<div class="img">\n' +
                            '<a href="personal_center/detail.html"><img src="/media/' + data.activities_photo + '"></a>\n' +
                            '<div class="bottominfo">\n' +
                            '<span class="label"><a href="javascript:;">' + data.activities_play + '</a>\n' +
                            '<a href="/dinner/sing_up" class="Sign_up">我要报名</a>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '<div class="active-info">\n' +
                            '<div class="user">\n' +
                            ' <a href="#" class="userimg"><img src="/media/' + data.head + '"></a>\n' +
                            ' <a href="#">' + data.username + '</a><em class="user-level"></em>\n' +
                            '<em class="user-level"></em>\n' +
                            ' <em class="user-level"></em>\n' +
                            '</div>\n' +
                            '<div class="txt">' + data.intro + '</div>\n' +
                            '<span class="o">' + data.price + '元/每人(6位)</span>\n' +
                            '</div>\n' +
                            '</li>\n'
                        )
                    });
                    if (init == true) {
                        initPage();
                    }
                }
            })
        }

        function initPage() {
            $('.m-box').pagination({
                pageCount: count,
                showData: 5,
                coping: true,
                homePage: '首页',
                endPage: '末页',
                prevContent: '上页',
                nextContent: '下页',
                callback: function (api) {
                    getDinner(api.getCurrent(), false)
                }
            });
        }
    });
    $(function () {
        $('#btn_search').click(function () {
            $.ajax({
                url:'/dinner/dinner_list/',
                type:'get',
                dataType:'json',
                //data:new FormData($('#search_form')[0]), post请求
                data:$('#search_form').serialize(),
                contentType:false,
                processData:false,
                success:function (response_data) {
                    console.info(response_data)
                    {#$('#product_list').html('');#}
                    {#$.each(response_data.data,function (index,item) {#}
                    {#    $('#product_list').append('<tr><td>'+item.name+'</td><td>'+item.price+'</td></tr>')#}

                }
            })
        })
    })
</script>
</body>
</html>