<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    {% include 'common/public_css_js.html' %}
    <style>
          .m-box > a, .m-box > span {
        padding: 0 10px;
        border: 1px solid;
        margin: 5px;
        text-decoration: none;
        color: #bdbdbd;
    }
    .m-box > a:hover, .m-box > span:hover {
        background-color: #4d99bf;
    }
    </style>
</head>
<body>
<div class="head">
    <div class="wrap clearfix">
        <a href="" class="logo indent">logo</a>
        <div class="headr fr">
            <form action="active.html" method="post" class="headsearch">
                <label class="label">
                    <input type="text" value="" name="" class="key">
                    <span class="text">搜索地址、名称、时间等</span>
                </label>
                <button type="submit" class="button btn-search">&#xe628;</button>
            </form>
            <a href="/dinner/release/"><em><img src="/static/images/sb.png"></em> &nbsp;&nbsp;发布我的饭局</a>
            <div class="user">
        <span class="clearfix"><span class="userimg"><img {{ request.user.head_image }}><i></i></span>
        <a href="javascript:;" class="fr">{{ request.user.username }}  <em>&#xe607;</em></a></span>
                <ul class="topslide">
                    <li><em>&#xe627;</em><a href="/person/get_men/">个人设置</a></li>
                    <li><em>&#xe63d;</em><a href="/person/message/">消息中心<s>3</s></a></li>
                    <li><em>&#xe63c;</em><a href="/dinner/join_dinner/">饭局管理</a></li>
                    <li><em>&#xe63e;</em><a href="/person/fans/">我的好友</a></li>
                    <li><em>&#xe611;</em><a href="/polls/logout/">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mem-banner" style="background-image:url(/static/upload/img11.jpg);"></div>

<div class="memwrap wrap clearfix">
    <div class="section fl">
        <div class="location tr">
            <a href="/home/" class="current">首页</a>
            <a href="/dinner/management/">我的饭局</a>
        </div>
        <div class="message pd30">
{#            <div class="plmain">#}
{#                <div class="plm clearfix">#}
{#                    <span class="fr">(您还可输入 <span id="textCount">90</span> 个字)</span>给TA留下一句话吧……#}
{#                </div>#}
{#                <div class="textarea_input">#}
{#                    <textarea id="TextArea1" onkeyup="words_deal();"></textarea>#}
{#                </div>#}
{#                <div class="tool_submit tr">#}
{#                    <button type="button" name="" value="" class="button sublist">留 言</button>#}
{#                </div>#}
{#            </div>#}

            <div class="plmcomment mt30">
                <ul class="comment-list" id="dinner_list">
                    <li class="np-post">
                        <a href="home.html" class="fans img"><img src="/static/upload/img12.png"></a>
                        <div class="post-body">
                            <div class="post-header clearfix">
                                <a href="home.html" class="name">大郭郭呐</a>发布了 no.01期活动
                            </div>
                            <div class="Participate children">
                                <div class="item">
                                    <div class="bd">
                                        <div class="Activity-img img"><img src="/static/upload/img14.jpg"></div>
                                        <div class="txt">
                                            <div class="title">价值350元高级自助餐免费抢！</div>
                                            <div class="info">
                                                最近，因为各种事，总是会觉得有些委屈，有些难过，也会掉泪，甚至觉得自己不能够好好的活着，偶然看到写着“活着”这两个字，我想知道，郝云的专辑里是否蕴藏...
                                            </div>
                                            <p class="mt10"><a href="#" target="_blank">先到先得</a> <a href="#"
                                                                                                    target="_blank">双向选择</a>
                                                <a href="#" target="_blank">大数据匹配</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--Pagination-->
                <div class="m-box"></div>

                <div class="page mt20 clearfix">

                </div>
            </div>
        </div>
    </div>
    <div class="aside fr">
        <div class="pd15">
            <div class="userimg"><img {{ request.user.head_image }} ><i></i></div>
            <div class="user-level tc">{{ request.user.username }} <em></em><em></em><em></em></div>
            <div class="tc"><a href="javascript:;" class="button btn-control btn-follow"> + 关注</a><a href="javascript:;"
                                                                                                     class="button btn-control btn-sent"><em
                    class="myfont f18">&#xe63f;</em> 私信</a></div>
            <div class="Praise tc">老师，中国，陕西 <em>&#xe61d;</em><em>&#xe61d;</em><em>&#xe61d;</em></div>

            <div class="txtwrap tc"><h1 class="f16">个人简介</h1>既能安静又能活泼，既能淑女又能犯二，<br>既能女汉子又能小清新～～～</div>
            <h1 class="f16">关注 4</h1>
            <ul class="followlist clearfix">
                <li><a href="#"><img src="/static/upload/img12.png"></a></li>
                <li><a href="#"><img src="/static/upload/img12.png"></a></li>
                <li><a href="#"><img src="/static/upload/img12.png"></a></li>
                <li><a href="#"><img src="/static/upload/img12.png"></a></li>
            </ul>
            <h1 class="f16">粉丝 4</h1>
            <ul class="followlist bd0 clearfix">
                <li><a href="#"><img src="/static/upload/img12.png"></a></li>
                <li><a href="#"><img src="/static/upload/img12.png"></a></li>
                <li><a href="#"><img src="/static/upload/img12.png"></a></li>
                <li><a href="#"><img src="/static/upload/img12.png"></a></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function ($) {
        //select 样式美化
        var config = {
            '.chosen-select-no-single': {disable_search_threshold: 10}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    });
    $(function () {
        getDinner(1, true);
        count = 0;

        function getDinner(page, init) {
            $.ajax({
                url: '/dinner/dis_dinner/',
                data: {'page': page, 'total': 5},
                type: 'get',
                dataType: 'json',
                success: function (response) {
                    $('#dinner_list').html('');
                    console.info(response.result.data)
                    $.each(response.result.data, function (index, item) {
                        count = response.result.count;
                        var data = item;
                        $('#dinner_list').append('<tr>\n' +
                            '        <td>' + data + '</td>\n' +
                            '        <td>' + data.user + '</td>\n' +
                            '        <td>' + data.price + '</td>\n' +
                            '        <td>' + data.activities_play + '</td>\n' +
                            '        <td>' + data.intro + '</td>\n' +
                            '        <td>' + data.executor + '</td>\n' +

                            '    </tr>')
                    });
                    if (init == true) {
                        initPage();
                    }
                }
            })
        }

        function initPage() {
            $('.m-box').pagination({
                pageCount: count,
                showData: 5,
                coping: true,
                homePage: '首页',
                endPage: '末页',
                prevContent: '上页',
                nextContent: '下页',
                callback: function (api) {
                    getXiaoQue(api.getCurrent(), false)
                }
            });
        }
    })

</script>
</body>
</html>