<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的饭局</title>
    {% include 'common/public_css_js.html' %}
</head>
<body>
<div class="head">
    <div class="wrap clearfix">
        <a href="" class="logo indent">logo</a>
        <div class="headr fr">
            <a href="/dinner/release/"><em><img src="/static/images/sb.png"></em> &nbsp;&nbsp;发布我的饭局</a>
            <div class="user">
        <span class="clearfix"><span class="userimg"><img src="/media/{{ request.user.head_image }}"><i></i></span>
        <a href="javascript:;" class="fr">{{ request.user.username }}  <em>&#xe607;</em></a></span>
                <ul class="topslide">
                    <li><em>&#xe627;</em><a href="/person/get_men/">个人设置</a></li>
                    <li><em>&#xe63c;</em><a href="/dinner/join_dinner/">饭局管理</a></li>
                    <li><em>&#xe611;</em><a href="/polls/logout/">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mem-banner" style="background-image:url(/static/upload/img11.jpg);"></div>


<div class="memwrap wrap clearfix">
  <div class="section fl">
      <div class="location tr"><a href="/active/" class="current">所有饭局</a><a href="/home/" class="current">我的首页</a><a href="Dinner.html">参加的饭局</a><a href="/dinner/release/">发布饭局</a></div>
    <div class="Participate pd30">
      <div class="item bd0">
        <a href="#" class="user img"><img {{ request.user.head_image }}></a>
        <div class="hd"><span class="username">{{ request.user.username }} </span></div>
        <div class="bd" id="my_dinner">

        </div>
      </div>  
      <p class="mt40 tc"><img src="/static/images/registration.jpg"></p>
    </div>
    <div class="registration clearfix">
      <div class="item">
        <div class="bd">
          <div class="lebox">
            <div class="img"><img src="/static/upload/img15.jpg"></div>
            <div class="choose tc"><a href="javascript:;" class="button btn-choose">选择</a></div>
           </div>
          <div class="baseinfo">小七姑娘 <em class="ico level"></em><em class="ico level"></em></div>
          既能安静又能活泼，既能淑女又能犯二，既能女汉子又能小清新～～～
        </div>
      </div>
      <div class="item">
        <div class="bd">
          <div class="lebox">
            <div class="img"><img src="/static/upload/img16.png"></div>
            <div class="choose tc"><span class="ico right"></span><a href="javascript:;" class="button btn-reset">选择</a></div>
           </div>
          <div class="baseinfo">小七姑娘 <em class="ico level"></em><em class="ico level"></em></div>
          既能安静又能活泼，既能淑女又能犯二，既能女汉子又能小清新～～～
        </div>
      </div>
      <div class="item">
        <div class="bd">
          <div class="lebox">
            <div class="img"><img src="/static/upload/img17.png"></div>
            <div class="choose tc"><a href="javascript:;" class="button btn-choose">选择</a></div>
           </div>
          <div class="baseinfo">小七姑娘 <em class="ico level"></em><em class="ico level"></em></div>
          既能安静又能活泼，既能淑女又能犯二，既能女汉子又能小清新～～～
        </div>
      </div>
      <div class="item">
        <div class="bd">
          <div class="lebox">
            <div class="img"><img src="/static/upload/img18.png"></div>
            <div class="choose tc"><a href="javascript:;" class="button btn-choose">选择</a></div>
           </div>
          <div class="baseinfo">小七姑娘 <em class="ico level"></em><em class="ico level"></em></div>
          既能安静又能活泼，既能淑女又能犯二，既能女汉子又能小清新～～～
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="aside fr">
    <div class="pd15">
      <div class="userimg"><img {{ request.user.head_image }} ><i></i></div>
      <div class="user-level tc">{{ request.user.username }} <em></em><em></em><em></em></div>
      <div class="tc"><a href="javascript:;" class="button btn-control btn-follow"> + 关注</a><a href="javascript:;" class="button btn-control btn-sent"><em class="myfont f18">&#xe63f;</em> 私信</a></div>
      <div class="Praise tc">老师，中国，陕西 <em>&#xe61d;</em><em>&#xe61d;</em><em>&#xe61d;</em></div>
      
      <div class="txtwrap tc"><h1 class="f16">个人简介</h1>{{ request.user.intro }}</div>
      <h1 class="f16">关注 4</h1>
      <ul class="followlist clearfix">
        <li><a href="#"><img src="/static/upload/img12.png"></a></li>
        <li><a href="#"><img src="/static/upload/img12.png"></a></li>
        <li><a href="#"><img src="/static/upload/img12.png"></a></li>
        <li><a href="#"><img src="/static/upload/img12.png"></a></li>
      </ul>
      <h1 class="f16">粉丝 4</h1>
      <ul class="followlist bd0 clearfix">
        <li><a href="#"><img src="/static/upload/img12.png"></a></li>
        <li><a href="#"><img src="/static/upload/img12.png"></a></li>
        <li><a href="#"><img src="/static/upload/img12.png"></a></li>
        <li><a href="#"><img src="/static/upload/img12.png"></a></li>
      </ul>
    </div>
  </div>
  
</div>

<script type="text/javascript">
$(document).ready(function($){
	//select 样式美化
	 var config = {
		'.chosen-select-no-single' : {disable_search_threshold:10}
	};
	for (var selector in config) {
		$(selector).chosen(config[selector]);
	}
});
$.ajax({
    url:'/dinner/my_dinner/',
    type:'get',
    dataType:'json',
    processData:false,
    contentType:false,
    success:function (response) {
        $('#my_dinner').html('');
        $.each(response.my_dinner, function(index, item) {
            var my_dinner = item;
            $('#my_dinner').append(
                '<div class="Activity-img img">\n' +
                '<img src="/media/'+ my_dinner.activities_photo+'">\n' +
                '</div>\n' +
                '<div class="txt">\n' +
                '<div class="title">' + my_dinner.dinner_title + '</div>\n' +
                '<div class="info">' + my_dinner.intro + '</div>\n' +
                ' <p class="mt10"><p style="display: block;margin-top: 90px;" target="_blank">' + my_dinner.activities_play + '</p>\n' +
                ' </p>\n' +
                '</div>\n'
            )
        })
    }

})
</script>
</body>
</html>