<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请报名</title>
    {% include 'common/public_css_js.html' %}
</head>
<body>
<div class="head">
    <div class="wrap clearfix">
        <a href="" class="logo indent">logo</a>
        <div class="headr fr">
            <a href="/dinner/release/"><em><img src=""></em> &nbsp;&nbsp;发布我的饭局</a>
            <div class="user">
        <span class="clearfix"><span class="userimg"><img src="/media/{{ request.user.head_image }}"><i></i></span>
        <a href="javascript:;" class="fr">{{ request.user.username }}  <em>&#xe607;</em></a></span>
                <ul class="topslide">
                    <li><em>&#xe627;</em><a href="/person/get_men/">个人设置</a></li>
                    <li><em>&#xe63d;</em><a href="/person/message/">消息中心</a></li>
                    <li><em>&#xe63c;</em><a href="/dinner/join_dinner/">饭局管理</a></li>
                    <li><em>&#xe63e;</em><a href="/person/fans/">我的好友</a></li>
                    <li><em>&#xe611;</em><a href="/polls/logout/">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="sign-title tc">
        <h1>我要申请报名</h1>
        亲爱的<a href="#" class="o">{{ request.user.username }}</a>，欢迎申请<span class="o">{{ id }}热红酒</span>
    </div>

    <div class="membox clearfix">
        <div class="userinfo fl">
            <a href="#" class="img"><img src="/media/{{ request.user.head_image }}"></a>
            {{  request.user.username }}
        </div>
        <div class="txt fr">
            <h1>你永远不会知道，这一秒的选择，将会在未来有怎样的惊奇收获。</h1>
            旅行途中的那个夜里，在申请截止时间三分钟之前，抱着“Just do it”的想法按键提交了申请赶上了末班车…于是自己真的于1260人之中 获选第3期爱·新鲜体验官，获得这个千万人艳羡的机会。
        </div>
    </div>

    <form class="Application mt30" id="sing_form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <table class="apptab">
            <tr>
                <th><em class="ico"></em>申请理由：</th>
                <td>
                    <p class="boxw clearfix"><span class="fr">还可以输入<span class="o" id="textCount">90</span>字</span>(为了提高申请成功率，请如实填写）
                    </p>
                    <textarea name="apply_reason"  id="TextArea1" class="boxw TextArea" onkeyup="words_deal();"></textarea>
                </td>
            </tr>
            <tr>
                <th>备注：</th>
                <td>
                    <p class="clearfix">(是否有忌口和过敏问题）</p>
                    <textarea name="remark" cols="" rows="" class="boxw TextArea"></textarea>
                    <span id="my_error" style="color: red;display: inline-block;margin-left: 11px;}"></span>
                    <div class="Release-submit tl">
                        <input name="" type="checkbox" value=""> 我已阅读并同意<a href="#" class="o">《17素材服务条款》</a>
                        <p class="mt20">
                            <input type="button" id="sing_button" value="提交" class="button btn-submit Appbtn">
                            <a href="/dinner/home/" class="button btn-reset Appbtn">取消</a>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</div>


<!--foot-->
<div class="footmenu">
    <div class="wrap clearfix">
        <div class="item bd0">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="fr">
            <img src="/static/images/img2.jpg">
            <img src="/static/images/img3.jpg">
        </div>
    </div>
    <div class="gotop">&#xe608;</div>
</div>
<div class="foot tc">Copyright © 2003-2015 17素材, All Rights Reserved</div>

<script type="text/javascript">
    $('#sing_button').click(function () {
        $.ajax({
            url:'/dinner/sing_up/',
            type:'post',
            data:new FormData($('#sing_form')[0]),
            cache:false,
            processData:false,
            contentType:false,
            success: function (data) {
                if(data.status=='fail'){
                    $('#my_error').text(data.msg)
                }else if(data.status=='success'){
                    window.location.href='/dinner/sing_success/';
                }
            }
        })
    })


</script>
</body>
</html>