<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    {% include 'common/public_css_js.html' %}
</head>
<body>
<div class="head">
    <div class="wrap clearfix">
        <a href="" class="logo indent">logo</a>
        <div class="headr fr">
            <form action="../active.html" method="post" class="headsearch">
                <label class="label">
                    <input type="text" value="" name="" class="key">
                    <span class="text">搜索地址、名称、时间等</span>
                </label>
                <button type="submit" class="button btn-search">&#xe628;</button>
            </form>
            <a href="#"><em><img src="/static/images/sb.png"></em> &nbsp;&nbsp;发布我的饭局</a>
            <div class="user">
        <span class="clearfix"><span class="userimg"><img {{ request.user.head_image }}><i></i></span>
        <a href="javascript:;" class="fr">{{ request.user.username }}  <em>&#xe607;</em></a></span>
                <ul class="topslide">
                    <li><em>&#xe627;</em><a href="/person/get_men/">个人设置</a></li>
                    <li><em>&#xe63d;</em><a href="/person/message/">消息中心<s>3</s></a></li>
                    <li><em>&#xe63c;</em><a href="/dinner/join_dinner/">饭局管理</a></li>
                    <li><em>&#xe63e;</em><a href="/person/fans/">我的好友</a></li>
                    <li><em>&#xe611;</em><a href="/polls/logout/">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="sign-title tc"
         style=" -webkit-opacity: 0.3; -moz-opacity: 0.3; -khtml-opacity: 0.3;  opacity: .3; filter:alpha(opacity=30);  ">
        <h1>找回密码</h1>
    </div>
    <form id="find_form" class="Application tc" action="" enctype="application/x-www-form-urlencoded" method="post">
        {% csrf_token %}
        <p class="f18">请输入邮箱地址：<input type="text" name="find_password_mail" class="inputmail"></p>
        <div class="Release-submit">
            <input type="button" name="find_password_btn" value="下一步" class="button btn-submit Appbtn">
        </div>
    </form>
</div>


<!--foot-->
<div class="footmenu">
    <div class="wrap clearfix">
        <div class="item bd0">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="fr">
            <img src="/static/images/img2.jpg">
            <img src="/static/images/img3.jpg">
        </div>
    </div>
    <div class="gotop">&#xe608;</div>
</div>
<div class="foot tc">Copyright © 2003-2015 17素材, All Rights Reserved</div>

<script type="text/javascript">
    $('#find_password_btn').click(function () {
        $.ajax({
            url: '/polls/find_password/',
            type: 'post',
            data: new FormData($('#find_form')[0]),
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                console.info(data);
                {#if(data.status=='fail'){#}
                {#    $('#my_error').text(data.msg)#}
                {#else if(data.status=='success')#}
                {#    alert('登录成功');#}
                {#    window.location.href='/home/';#}

            }
        })
    })
</script>
</body>
</html>