<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    {% include 'common/public_css_js.html' %}
</head>
<body>
<div class="head">
    <div class="wrap clearfix">
        <a href="/" class="logo indent">logo</a>
        <div class="headr fr">
            <form action="/templates/active.html" method="post" class="headsearch">
                <label class="label">
                    <input type="text" value="" name="" class="key">
                    <span class="text">搜索地址、名称、时间等</span>
                </label>
                <button type="submit" class="button btn-search">&#xe628;</button>
            </form>
            <a href="/polls/login/">登录</a>
            <a href="/polls/register/">注册</a>
            <a href="#">发布我的饭局</a>
        </div>
    </div>
</div>
<div class="loginwrapper">
    <div class="wrap pr">
        <div class="loginbox">
            <h1 class="hd">用户登录</h1>
            <form class="boxbd">
                <label class="label">
                    <input type="text" name="login_username" value="" class="loginipt user" placeholder="请输入您的用户名">
                </label>
                <label class="label">
                    <input type="password" name="login_password" value="" class="loginipt pwd" placeholder="请输入您的密码">
                </label>
                <input type="button" name="login_button" value="登录" class="button btn-login">

                <p class="mt20">
                    <label for="remember">
                        <input name="" type="checkbox" id="remember" value="" checked> 记住我
                    </label>
                    <a href="../forgot.html" class="fr"> 忘记密码？</a>
                </p>
                <p class="mt10 tr">还没有账号？<a href="/polls/register/" class="o">注册</a></p>
            </form>

        </div>
    </div>
</div>
<div class="foot2">
    <div class="wrap clearfix">
        <div class="txt fl">
            <div class="foot-nav"><a href="#">关于17素材</a>/<a href="#">加入我们</a>/<a href="#">联系我们</a>/<a href="#">媒体报道</a>/<a
                    href="#">会员条款</a>/<a href="#">版权声明</a></div>
            Copyright © 2003-2015 17素材, All Rights Reserved　
        </div>
        <div class="orc fr"><img src="/static/images/img2.jpg"><img src="/static/images/img3.jpg" ></div>
    </div>
</div>
</body>
<script>



</script>
</html>