<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="/static/css/chosen.css" >
<link rel="stylesheet" href="/static/css/css.css" >
<link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.css" >
<link rel="stylesheet" href="/static/css/public.css" >
<link rel="stylesheet" href="/static/css/slick.css" >


<script src="/static/js/Action.js"></script>
<script src="/static/js/chosen.jquery.js"></script>
<script src="/static/js/index.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.jslides.js"></script>
<script src="/static/js/jquery.mCustomScrollbar.js"></script>
<script src="/static/js/slick.js"></script>
<script src="/static/js/upfiles.js"></script>


</body>
</html>